{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    {{ form_start(taskForm) }}
        {{ form_row(taskForm.title) }}
        {{ form_row(taskForm.deadline) }}
        {{ form_row(taskForm.description) }}
        {{ form_row(taskForm.difficulty) }}
        {{ form_row(taskForm.is_done) }}

        <button type="submit" class="btn">Dodaj</button>
    {{ form_end(taskForm) }}
{% endblock %}
